<div class="post-display">	
	<div class="media">
		<div class="media-figure">
			<a href="{{post.URL}}">
				<img src="{{post.imageURL}}">
			</a>
		</div>
		<div class="media-body">
			<h3 class="header"><a href="{{post.URL}}">{{post.title}}</a></h3>
			<p class="description">{{post.description}}</p>
			<p class="footer">
				{{#if session.currentUser.isAdmin}}
					<span>{{#link-to 'admin.posts.edit' post}}edit{{/link-to}} | </span>
				{{/if}}
				{{#unless singlePost}}
					<span>{{#link-to 'post-display' post}}permalink{{/link-to}} | </span>
				{{/unless}}
				<span>{{relative-date post.createdOn}}</span>
				{{#each post.links as |link|}}
					<span> | </span>
					<a class="etc-link" href="{{link.URL}}">{{link.title}}</a>
				{{/each}}	
			</p>
			{{#if post.collections}}
				<div class="right">
					{{#each post.collections as |collection|}}
						{{#link-to 'collections.collection-display' collection}}{{collection.name}}{{/link-to}}{{#unless (eq collection post.collections.lastObject)}}<span>, </span>{{/unless}}
					{{/each}}
				</div>
			{{/if}}
		</div>
	</div>
</div>