<div class="post-display">	
	<div class="media">
		<div class="media-figure">
			<img src="{{post.imageURL}}">
		</div>
		<div class="media-body">
			<h3 class="header"><a href="{{post.URL}}">{{post.title}}</a></h3>
			<p class="description">{{post.description}}</p>
			<p class="footer">
				{{#if session.currentUser.isAdmin}}
					<span>{{#link-to 'admin.posts.edit' post}}edit{{/link-to}} | </span>
				{{/if}}
				<span>{{relative-date post.createdOn}}</span>
				{{#each post.links as |link|}}
					<span> | </span>
					<a class="etc-link" href="{{link.URL}}">{{link.title}}</a>
				{{/each}}	
			</p>
		</div>
	</div>
</div>