<form class="norm-form" role="form" {{action 'formSubmitted' item on="submit"}}>
	<label for="URL">URL*</label>
	{{input type="url" name="URL" value=item.URL placeholder="http://www.example.directory" maxlength="1000" required="true"}}

	<label for="title">Title*</label>
	{{input type="text" name="title" value=item.title placeholder="Click bait" required="true"}}

	<label for="description">Description*</label>
	{{input type="text" name="description" value=item.description placeholder="A short sentence" maxlength="1000" required="true"}}

	<label>Other relevant links</label>
	<div class="link-form">
		<table>
			<tr>
				<th>Link URL</th>
				<th>Link text</th>
			</tr>
		{{#each item.links as |link|}}
			<tr>
				<td>{{input type="url" value=link.URL placeholder="Link URL" keyUp=(action 'updateLinkTriggered') }}</td>
				<td>{{input type="text" value=link.title placeholder="e.x. blog post" keyUp=(action 'updateLinkTriggered') maxlength="20"}}</td>
				{{#unless (eq link item.links.lastObject)}}
					<td><a href="" {{action "deleteLinkTriggered" link}}>Delete</a></td>
				{{/unless}}
			</tr>
		{{/each}}
		</table>
	</div>

	<input class="btn bg--light-gray" type="submit" value="{{submitButtonText}}">

	{{#if textUnderSubmitButton}}
		<div class="txt--center small muted">{{textUnderSubmitButton}}</div>
	{{/if}}
</form>