<div class="meausre">
	<hr>
	{{#if session.isAuthenticated}}
		<div>You are {{session.currentUser.name}}</div>
		<div>You are{{#unless session.currentUser.isAdmin}}n't{{/unless}} an admin</div>
		<div>You joined {{moment-calendar session.currentUser.joinedOn}}</div>
		<a href="" {{action 'signOut'}}>Log Out</a>
	{{else}}
		<a href="" {{action "signIn" "google"}}>Sign in with Google</a>
	{{/if}}
</div>